/*
* @Author: Ngo Quang Cuong
* @Date:   2017-07-11 20:53:01
* @Last Modified by:   nquangcuong
* @Last Modified time: 2017-07-11 21:28:22
*/
.qty_change {
    position: relative;
}
.qty_change .decreaseQty {
    border-right: 0px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #c2c2c2;
    padding: 7px 0px;
    position: absolute;
    z-index: 55;
    width: 25px;
}
.qty_change .increaseQty {
    border-left: 0px;
    border-radius: 0px 4px 4px 0;
    border: 1px solid #c2c2c2;
    padding: 7px 0px;
    position: absolute;
    left: 63px;
    top: 0px;
    width: 25px;
}
.box-tocart .qty_change input.input-text.qty {
    margin-left: 24px;
    width: 40px;
    padding: 0px;
}
